*{
	margin:0;
	padding:0;
}

#board{
	width:340px;
	display:block;
	clear:both;
}
.tile, .mineTile{
	width:30px;
	height:30px;
	border:solid black 2px;
	float:left;
	font-size: 30px;
	text-align:center;
	overflow:hidden;
	
}
.cheat{
	background-color:red;	
}
.marked{
	background-color:green;
}

#minecounter{
	clear:both;
}